{{<partials-page}}
  {{$pageTitle}}
    {{#t}}pages.report-submitted.confirmed{{/t}} &ndash; {{#t}}journey.serviceName{{/t}} &ndash; GOV.UK
  {{/pageTitle}}
  {{$page-content}}
    <div class="govuk-panel alert-complete govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        {{#t}}pages.report-submitted.confirmed{{/t}}
      </h1>
    </div>
    <p>{{#t}}pages.report-submitted.p1{{/t}}</p>
    <p>{{#t}}pages.report-submitted.p2{{/t}}</p>

    <h2 class="govuk-heading-m">{{#t}}pages.report-submitted.h2{{/t}}</h2>

    <p>{{#t}}pages.report-submitted.p3{{/t}}</p>
    <p>{{#t}}pages.report-submitted.p4{{/t}}</p>
  {{/page-content}}
{{/partials-page}}
