
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <p class="govuk-body">
            Use this service if you have asked for your documents back but have not received them.
        </p>
       
        <p class="govuk-body">
            After you have requested your documents, it normally takes 10 working days (Monday to Friday) to return them.
        </p>
    </div>


    <div class="govuk-grid-column-one-half">
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible related-services-menu">
        <h3 class="govuk-heading-s">Related services</h3>
        <p class="govuk-body"> 
        <a href="/start"> Cancel an application and get your documents back </a>
        </p>
        <p class="govuk-body"> 
        <a href="/cancel-request"> Cancel your request to return documents </a>
        </p>
    </div>
</div>
