{{#enableSection}}
  <div class="govuk-grid-column-one-third related-services-menu">
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <h2 class="govuk-heading-m">Related services</h2>
    <ul class="govuk-list govuk-list--spaced">
      <li>
        <a href="/documents-not-received-start"> Report that you have not received your documents </a>
      </li>
      <li>
        <a href="/cancel-request"> Cancel your request to return documents </a>
      </li>
    </ul>
  </div>
{{/enableSection}}
