
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <p class="govuk-body">
            Use this service to:
            <ul>
                <li> cancel an application to the Home Office </li>
                <li> ask for your passport or other documents be returned</li>
            </ul>
        </p>
    </div>


    <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-s">Related services</h3>
        <p class="govuk-body"> 
        <a href="/documents-not-received-start"> Report that you have not received your documents </a>
        </p>
        <p class="govuk-body"> 
        <a href="/cancel-request"> Cancel your request to returnn documents </a>
        </p>
    </div>
</div>

<div class="govuk-inset-text">
    You can only use this service if you applied in the UK. If you applied from outside the UK, <a href="">contact the visa application centre you applied to,</a>
</div>

<p>You can only get your documents returned to a UK address.</p>
