
    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">
            Use this service to:
            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                <li> cancel an application to the Home Office </li>
                <li> ask for your passport or other documents be returned</li>
            </ul>
        </p>
    </div>

<div class="govuk-inset-text">
    You can only use this service if you applied in the UK. If you applied from outside the UK, <a href="https://www.gov.uk/find-a-visa-application-centre">contact the visa application centre you applied to.</a>
</div>

<p>You can only get your documents returned to a UK address.</p>
