{{<partials-page}}
  {{$page-content}}
  {{#markdown}}delivery-address-for-documents{{/markdown}} 

  <div class="govuk-details__text">
        <div>{{values.main-applicant-address-1}}</div>
        {{#values.main-applicant-address-2}}<div>{{values.main-applicant-address-2}}</div>{{/values.main-applicant-address-2}}
        <div>{{values.main-applicant-town-or-city}}</div>
        <div>{{values.main-applicant-postcode}}</div>
  </div>
  
    {{#fields}}
    {{#renderField}}{{/renderField}}
    {{/fields}}
    {{#input-submit}}continue{{/input-submit}}
    
  {{/page-content}}
{{/partials-page}}